body {
  font-family: "Poppins", sans-serif;
  background: #272044;
}

nav {
  padding: 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: white;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: rgb(62, 140, 192);
}
.navbar {
  position: fixed;
  top: 0; /* stick to the top */
  left: 0;
  width: 100%; /* span the whole screen */
  background: #272044;
  color: white;
  z-index: 1000; /* make sure it stays above other elements */
}
.container {
  max-width: 1400px;
  margin: 80px 0 40px auto;
  background: white;
  padding: 20px;
}
.text-center {
  text-align: center;
}
.container h1.text-left {
  text-align: left;
}
.grid {
  display: grid;
  grid-gap: 20px;
  justify-items: center; /* center images inside cells */
  max-width: 1600px;
  margin: 0 auto;
}
.img-responsive {
  width: 100%;
  display: block;
}
.grid img {
  width: 100%;
  max-width: 450px; /* don’t let them stretch too much */
  height: auto;
  border-radius: 8px; /* optional */
}
.grid-2-column {
  grid-template-columns: 1fr 1fr;
}
.grid-3-column {
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.grid-admins {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.paragraph {
  position: relative;
  left: -30px;
}
.admins {
  margin-top: 25px;
}
.card {
  background: white;
  margin: 20px 0;
}
.card-body {
  padding: 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}

.content {
  background: white;
  margin: 60px;
  padding: 30px;
  font-size: 20px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background: #f8f8f8;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/chattalatin-logo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  border-radius: 4px;
}
main {
  background-color: white;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.6),
      rgba(39, 32, 68, 0.6)
    ),
    url("../images/chattalatin-logo1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}
footer .grid {
  justify-items: start;
}
footer ul {
  padding: 0;
  margin: 0 auto;
  text-align: left;
}
footer li {
  list-style: none;
  margin: 8px 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
footer .grid div {
  text-align: left;
}
.love {
  margin-bottom: 40px;
}
.smallertop {
  margin-top: 5px;
}
.calendar-photo {
  width: 700px;
  max-width: 100%; /* responsive: won’t overflow on smaller screens */
  height: auto; /* keeps aspect ratio */
  display: block; /* optional, helps with centering */
  margin: 0 auto; /* optional, centers the image */
}
.topmargin {
  margin-top: 30px;
  color: #272044;
}
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  .card {
    margin: 0 auto;
  }
  .admins {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .paragraph {
    margin-left: 40px;
  }
  .content {
    padding: 0 auto;
    margin: 0 auto;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #272044;
    gap: 10px;
  }
  nav li {
    display: block;
    margin: 10px 0;
  }
}
